
@{
    ViewData["Title"] = "AccessDenied";
}

<!-- Breadcrumb Section Begin -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="breadcrumb-text">
                <h2>Error</h2>
                <div class="bt-option">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <span>Error Message</span>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<!-- Breadcrumb Section End -->

<div class="container">

<h3 style="color:red; text-align:center;">You are not authorized to access this page!</h3>

<br />
<br />

</div>