
@{
	ViewData["Title"] = "Check Your Inbox";
	Layout = "_Index";
}

<!-- Breadcrumb Section Begin -->
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="breadcrumb-text">
				<h2>Check Your Inbox</h2>
				<div class="bt-option">
					<a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
					<a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
					<a asp-area="" asp-controller="Account" asp-action="ForgetPassword">Forget Password</a>
					<span>Confirmation Message</span>
				</div>
			</div>
		</div>
	</div>
</div>
<br />

<div class="container">

<div class="main-agileinfo">
	<div class="agileits-top">
		<div class="body">
				<h2>Password reset link was sent to your email, Please check your inbox.</h2>
		</div>
		<div>
				<h2><a href="http://mail.google.com/mail/u/00/#inbox">Check your inbox.</a></h2>
		</div>
	</div>
</div>

</div>


