@model ResetPasswordViewModel

@{
	ViewData["Title"] = "ResetPassword";
	Layout = "_Index";
}

<!-- Breadcrumb Section Begin -->
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="breadcrumb-text">
				<h2>Reset Password</h2>
				<div class="bt-option">
					<a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
					<a asp-area="" asp-controller="Account" asp-action="Login">Home</a>
					<span>Reset Password</span>
				</div>
			</div>
		</div>
	</div>
</div>
<br />

<div class="wrapper" style="background-image: url('/images/log.jpg');">
	<div class="innerlogin">
		<form asp-action="ResetPassword" asp-controller="Account" method="post" enctype="multipart/form-data">
			<div asp-validation-summary="All" class="text-danger"></div>
		@* 	<input type="hidden" asp-for="Email" />
			<input type="hidden" asp-for="Token" /> *@
			<div class="form-wrapper">
				<input asp-for="newPassword" placeholder="New Password" class="form-control">
				<i class="zmdi zmdi-lock"></i>
				<span asp-validation-for="newPassword" class="text-danger"></span>
			</div>
			<br />
			<div class="form-wrapper">
				<input asp-for="ConfirmPassword" placeholder="Confirm Password" class="form-control">
				<i class="zmdi zmdi-lock"></i>
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>

			<button style="background-color: #DFA974; border:none; margin-top:20px; margin-bottom:15px;">
				Submit
				<i class="zmdi zmdi-arrow-right"></i>
			</button>
		</form>
	</div>
</div>
<br />