@model List<Cart>

<div>
    <table border="0">
        @if (Model == null || !Model.Any())
        {
            <tr>
                <td class="nav-item">No items in cart</td>
            </tr>
        }
        else
        {
            foreach (var cart in Model)
            {
                <!-- Loop through BookingDining -->
                @if (cart.BookingDinings != null && cart.BookingDinings.Any())
                {
                    <tr>
                        <th></th>
                        <th>Dining</th>
                    </tr>
                    foreach (var dining in cart.BookingDinings)
                    {
                        <tr style="height:70px">
                            <td><img width="100px" src="/Images/Dining/@dining.Dining.Images" alt="Dining image" /></td>
                            <td>@dining.Dining.Name</td>
                        </tr>
                    }
                }

                <!-- Loop through BookingRoom -->
                @if (cart.BookingRooms != null && cart.BookingRooms.Any())
                {
                    <tr style="height:70px">
                        <th></th>
                        <th>Room Type</th>
                    </tr>
                    foreach (var room in cart.BookingRooms)
                    {
                        <tr style="height:70px">

                            <td><img  src="/Images/RoomType/@room.HotelRoom.HotelRoomType.Images" /></td>
                            <td>@room.HotelRoom.HotelRoomType.Name</td>
                        </tr>
                    }
                }

                <!-- Loop through BookingExperience -->
                @if (cart.BookingExperiences != null && cart.BookingExperiences.Any())
                {
                    <tr style="height:70px">
                        <th></th>
                        <th>Experience</th>
                    </tr>
                    foreach (var experience in cart.BookingExperiences)
                    {
                        <tr style="height:70px">
                            <td><img src="/Images/Experience/@experience.Experience.CoverImage" alt="Experience image" /></td>
                            <td>@experience.Experience.Name</td>
                        </tr>
                    }
                }

                <tr style="height:70px">
                    <td colspan="5" class="nav-item">Shipping Price: @cart.ShippingPrice</td>
                </tr>
            }
        }
    </table>

    <div style="margin:10px" class="header-configure-area">
        <a href="./Cart/ConfirmCart" class="bk-btn">Confirm Cart</a>
    </div>

</div>

