@model HotelRoomType

@{
    ViewData["Title"] = "Create New Room Type:";
    Layout = "_Dashboard";
}
<!-- Breadcrumb Section Begin -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Create New Room Type</h2>
                    <div class="bt-option">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a asp-area="" asp-controller="HotelRoomType" asp-action="Index">Rooms</a>
                        <span>Create New</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
<section class="room-details-section spad">

    <div class="container">
        <h3>Room Form</h3>
        <br />
        <form asp-action="SaveNew" asp-controller="HotelRoomType" method="post" enctype="multipart/form-data" class="col-md-7">
                <div>
                    <label asp-for="Name"> </label>
                    <input asp-for="Name" class="form form-control" />                   
                </div>
                <div>
                <label asp-for="Images"> </label>
                <img id="imagePreview" style="width:400px;height:400px" src="/images/RoomType/@Model.Images" alt="Image Preview" />
                <input Name="FileImages" type="file" class="form form-control" style="border:none; outline:none;" onchange="previewImage(event)" />
                </div>
                <br />
                <div>
                    <label asp-for="BedCount"> </label>
                    <input asp-for="BedCount" class="form form-control" />
                </div>
                <div>
                    <label asp-for="BathCount"> </label>
                    <input asp-for="BathCount" class="form form-control" />
                </div>
                <div>
                    <label asp-for="MaxGuestCount"> </label>
                    <input asp-for="MaxGuestCount" class="form form-control" />
                </div>
                <div>
                    <label asp-for="Price"> </label>
                    <input asp-for="Price" class="form form-control" />
                </div>
                <div>
                    <label asp-for="Area"> </label>
                    <input asp-for="Area" class="form form-control" />
                </div>
                <div>
                    <label asp-for="BedType"> </label>
                    <input asp-for="BedType" class="form form-control" />
                </div>
                <div>
                    <label asp-for="View"> </label>
                    <input asp-for="View" class="form form-control" />
                </div>
                <div>
                    <label asp-for="Decor">Decorations </label>
                    <input asp-for="Decor" class="form form-control" />
                </div>
            <div>
                <label asp-for="Description"> </label>
                <input asp-for="Description" class="form form-control" />
            </div>
                <div>
                    <label asp-for="UniqueFeatures"> </label>
                    <input asp-for="UniqueFeatures" class="form form-control" />
                </div>
                <br />
            <input type="submit" value="Create" class="btn btn-success" style="background-color: #DFA974; border:none" />|
            <a asp-action="Index" asp-controller="HotelRoomType">Back to List</a>
            </form>
        </div>
    </div>
</section>
<br />
 <script>
        function previewImage(event) {
            var input = event.target;
            var reader = new FileReader();
            reader.onload = function () {
                var dataURL = reader.result;
                var output = document.getElementById('imagePreview');
                output.src = dataURL;
            };
            reader.readAsDataURL(input.files[0]);
        }
    </script>
