@model List<Offer>
@{
    ViewData["Title"] = "Offer Table";
    Layout = "_Dashboard";
}

<!-- Breadcrumb Section Begin -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="breadcrumb-text">
                <h2>Room types</h2>
                <div class="bt-option">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <span>Offers Data</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->

<div class="container">
    <h3>Offers Data</h3>
    <br />
    <form asp-action="Index" asp-controller="Offer" method="get">
        <div class="row input-group">
            <input type="text" name="search" id="search" class="form-control" placeholder="Search" />
            <input type="submit" value="Search" class="btn btn-primary" style="background-color: #DFA974; border:none" />
        </div>
    </form>
    <br />
    <a class="btn btn-success" style="background-color: #DFA974; border:none" href="/Offer/New">New</a>
    <br />
    <br />
    <table class="table table-bordered table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Image</th>           
            <th>Price</th>           
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.OfferName</td>
                <td><img src="/Images/Offer/@item.OfferImage" style="width:100px" /></td>        
                <td>@item.OfferPrice</td>              
                <td><a href="/Offer/Details?id=@item.Id">Details</a></td>
                <td><a class="btn btn-success" style="background-color: #DFA974; border:none" href="/Offer/Edit/@item.Id">Edit</a></td>
                <td><a class="btn btn-danger" href="/Offer/Delete/@item.Id">Delete</a></td>
            </tr>
        }
    </table>
</div>
