
 @model List<Experience>

@{
    ViewData["Title"] = "Experiences";
    Layout = "_Index";
}

<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Experiences</h2>
                    <div class="bt-option">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <span>All Experiences</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Blog Section Begin -->
<section class="blog-section blog-page spad">
    <div class="container">
        <!-- Search section -->
        <form asp-action="Experiences" asp-controller="Experience" method="get">
            <div class="row input-group">
                <input type="text" name="search" id="search" class="form-control" placeholder="Search" />
                <input type="submit" value="Search" class="btn btn-primary" style="background-color: #DFA974; border:none" />
            </div>
        </form>
        <br />

        <!-- Tyoes filter section -->
        <div class="row mb-4">
            <div class="col-lg-12 d-flex justify-content-between">
                <a href="javascript:void(0)" class="btn btn-outline-light" style="background-color: #DFA974; border:none" id="filter-offsite-sea" data-type="1">OFF-SITE SEA ACTIVITIES</a>
                <a href="javascript:void(0)" class="btn btn-outline-light" style="background-color: #DFA974; border:none" id="filter-daybeds" data-type="2">DAYBEDS</a>
                <a href="javascript:void(0)" class="btn btn-outline-light" style="background-color: #DFA974; border:none" id="filter-tours" data-type="3">TOURS</a>
                <a href="javascript:void(0)" class="btn btn-outline-light" style="background-color: #DFA974; border:none" id="filter-car-rentals" data-type="4">CAR RENTALS</a>
                <a href="javascript:void(0)" class="btn btn-outline-light" style="background-color: #DFA974; border:none" id="filter-offsite" data-type="5">OFF-SITE ACTIVITIES</a>
            </div>
        </div>
        <br />

        <!-- Experiences grid -->
        <div class="row" id="experiences-container">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 experience-item" data-type="@item.TypeId">
                    <div class="blog-item set-bg" data-setbg="/Images/Experience/@item.Image">
                        <div class="bi-text">
                            <span class="b-tag">@item.Price EGP</span>
                            <h4><a href="/Experience/Details?id=@item.Id">@item.Name</a></h4>
                            <div class="b-time"><i class="icon_clock_alt"></i>@item.Duration</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Blog Section End -->
@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const filterButtons = document.querySelectorAll('[id^="filter-"]');
            filterButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const typeId = this.getAttribute('data-type');
                    filterExperiences(typeId);
                });
            });

            function filterExperiences(typeId) {
                const experiences = document.querySelectorAll('.experience-item');
                experiences.forEach(experience => {
                    if (experience.getAttribute('data-type') === typeId || typeId === "all") {
                        experience.style.display = 'block';
                    } else {
                        experience.style.display = 'none';
                    }
                });
            }
        });
    </script>
}